.toggleButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    // Button ko screen par fix karta hai
    position: fixed; 
    top: 25px;
    left: 25px;
  
    // Yeh ensure karta hai ki button sabse upar rahe
    z-index: 1000; 
  }
  